.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2rem;
  background-color: rgb(240, 215, 250);
  padding: 0 1rem;
}

.site-title {
  font-size: 1.5rem;
}

.navigation > ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
