<header>
  <mat-toolbar color="primary">
    <span>Material Playground</span>
    <span class="menu-spacer"></span>
    <button mat-icon-button
            class="example-icon"
            aria-label="Menu"
            [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item
         routerLink="/">
        <mat-icon aria-hidden="true">home</mat-icon>Home
      </a>
      <a mat-menu-item
         routerLink="/profile">
        <mat-icon aria-hidden="true">person</mat-icon> Profile
      </a>
    </mat-menu>
  </mat-toolbar>
</header>
