<mat-card class="profile">

  <img mat-card-image
       src="https://source.unsplash.com/iEEBWgY_6lA">
  <mat-card-title>John Developerson</mat-card-title>
  <mat-card-subtitle>Actively Looking: </mat-card-subtitle>
  <mat-card-content>
    <span>Programming Specialities:</span>
    <mat-list>
      <div mat-subheader>Specialities</div>

      <mat-list-item>Angular</mat-list-item>
      <mat-list-item>Express.js</mat-list-item>
      <mat-list-item>MongoDB / MongoDB Atlas</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
